.fondo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,153,223,1) 39%, rgba(0,212,255,1) 100%);
}

.fondo .bg-dark{
    background-color: transparent !important;
}